body {
    font-family: unispace, sans-serif;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #ab1364;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    font-family: unispace, sans-serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#addButton {
    font-family: unispace, sans-serif;
    padding: 10px 15px;
    background-color: #8dffbf;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

li.completed {
    background-color: #60ff85b9;
    color: #ffffff;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}