.main {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;  
        padding: 20px;
        place-items: center;
}
body {
    background-color: rgb(222, 222, 222);
}
.one {
    width: 450px;
    height: auto;
}
.two {
    width: 95%;
    height: auto;
}
.three {
    width: 450px;
    height: auto;
}